In [2]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Fill in the database you want to work on
working_database = 'Xgridz'

# Fill in your mySQL root pass
my_password = '*****'


try:
    """CONNECT TO DATABASE XGRIDZ"""
    connection = mysql.connector.connect(host='localhost',
                                         database=working_database,
                                         user='root',
                                         password=my_password)

    if connection.is_connected():
        
        # mysqli_set_charset(connection, ”utf8mb4”);
        
         # Show the server infomation 
        db_info = connection.get_server_info()
        print('Connected to MySQL Server version ', db_info)
        
        # Establish the connection for future queries
        cursor = connection.cursor()
        
        # Show the database infomation 
        cursor.execute('select database();')
        record = cursor.fetchone()
        print('Connected to database: ', record)
        cursor.execute('show tables;')
        tables = cursor.fetchall()
        print('Tables in {} schema: {}\n\n'.format(working_database, tables))
        
        """INSERT DATA TO XGRIDZ"""
        key = '*****'
        # Insert student data from a csv file into student table
        student = pd.read_csv('student.csv')
        Q = ["INSERT INTO student (name, age) \
              VALUES ('{}', AES_ENCRYPT('{}', '{}'));" \
             .format(s[0], s[1], key) for s in student[:10].values]
        
        for q in Q:
            cursor.execute(q)
        
         # Insert Grid Test 1 data from a csv file into test1 table
        test1 = pd.read_csv('test1.csv')
        Q = ["INSERT INTO test1 (date, correct, total, weight) \
              VALUES ('{}', '{}', '{}', '{}');".\
              format(t[0], t[1], t[2], t[3]) for t in test1[:10].values]
    
        for q in Q:
            cursor.execute(q)
        
        
        """RUN THE QUERY OF REQUEST"""
        q = "SELECT test1.date AS test_date, s.ID AS student_ID, s.name, \
                        test1.correct AS correct_1, test1.total AS total_1, s.age \
                 FROM student AS s \
                              INNER JOIN test1 ON s.ID = test1.student_ID;"
        cursor.execute(q)
        cursor.fetchall()
        join_table = pd.read_sql_query(q, connection)
        print('Data of age has been encrypted:\n')
        print(join_table)
        
        q = "SELECT test1.date AS test_date, s.ID AS student_ID, s.name, \
                    test1.correct AS correct_1, test1.total AS total_1, \
                    AES_DECRYPT(s.age, '{}') AS decr_age\
             FROM student AS s \
                          INNER JOIN test1 ON s.ID = test1.student_ID;".format(key)
        cursor.execute(q)
        cursor.fetchall()
        join_table = pd.read_sql_query(q, connection)
        print('\n', '- ' * 40, '\n')
        print('Data of age has been decrypted:\n')
        print(join_table)
        
except Error as e:
    print('Error while connecting to MySQL', e)

finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print('\n', '* ' * 40, '\n')
        print('MySQL connection is closed.')

Connected to MySQL Server version  8.0.23
Connected to database:  ('xgridz',)
Tables in Xgridz schema: [('student',), ('test1',), ('test2',)]


Data of age has been encrypted:

      test_date  student_ID              name  correct_1  total_1       age
0   May 29 2020         110    Koen Frederick          4        5  쬉뷧퀍᮸䞟愴䊊ױ
1   May 30 2020         111      Brent Hinton          1        5  ﬀ協ﱕ⁔࢖뤼ﲻ
2  Aug. 27 2020         112  Mitchell Wheeler          4        5  ﬀ協ﱕ⁔࢖뤼ﲻ
3  Aug. 11 2020         113     Pierce Mullen          1        5  鸨㭇㫠싆ⲓ
4  Apr. 21 2020         114        Tara Chase          2        5  쬉뷧퀍᮸䞟愴䊊ױ
5   Oct. 5 2020         115       Melany Clay          3        5  鸨㭇㫠싆ⲓ
6   Oct. 2 2020         116     Gavyn Nielsen          0        5  ﬀ協ﱕ⁔࢖뤼ﲻ
7   Apr. 3 2020         117         Anya Ryan          1        5  쬉뷧퀍᮸䞟愴䊊ױ
8   Nov. 7 2020         118       Kadin Carey          1        5  鸨㭇㫠싆ⲓ
9  Aug. 29 2020         119     Lyla Alvarado          1        5  ﬀ協ﱕ⁔࢖뤼ﲻ

 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Data of age has been decrypted:

      test_date  student_ID              name  correct_1  total_1 decr_age
0   May 29 2020         110    Koen Frederick          4        5      8-9
1   May 30 2020         111      Brent Hinton          1        5      4-5
2  Aug. 27 2020         112  Mitchell Wheeler          4        5      4-5
3  Aug. 11 2020         113     Pierce Mullen          1        5      6-7
4  Apr. 21 2020         114        Tara Chase          2        5      8-9
5   Oct. 5 2020         115       Melany Clay          3        5      6-7
6   Oct. 2 2020         116     Gavyn Nielsen          0        5      4-5
7   Apr. 3 2020         117         Anya Ryan          1        5      8-9
8   Nov. 7 2020         118       Kadin Carey          1        5      6-7
9  Aug. 29 2020         119     Lyla Alvarado          1        5      4-5

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

MySQL connection is closed.